*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    background-color: hwb(192 86% 0%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background-color: #3a4452;/*background-color if removed #3a4452; */
    padding: 20px;
    border-radius: 10px;
    /* width: 90%; */
}
.calculator form input{
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 8px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;
}
form .display-box{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
    background-color: rgb(81, 80, 79);
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
}
form .display-box input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input.equal{
    width: 145px;
}
form input.operator{
    color: rgb(0, 255, 255);
}
